
@{
    ViewData["Title"] = "ExamSession";
    Layout = "~/Views/Shared/_Secretary.cshtml";
}

@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
}

@section middlePanelBody
{
    @if (!String.IsNullOrEmpty(@ViewBag.Error))
    {
        <span style="color:red; font-weight:bold">@ViewBag.Error</span>
    }
    @if (!String.IsNullOrEmpty(@ViewBag.Message))
    {
        <span style="color:green; font-weight:bold">@ViewBag.Message</span>
    }
    <span style="font-size:15pt; color:red">Direction du service pour les étudiants - Services Didactiques</span>
    <br />
    <span style="color:black; font-size:15pt; border-bottom:5px solid red">ESSE4</span>
    <br />
    <br />
    <span style="font-size:15pt">GESTION DES SESSIONS D'EXAMENS</span>
    <br />
    <br />
    <p>
        <span style="font-size:15pt">Ci-dessous vous pouvez ajouter ou supprimer des sessions d'examen </span>
    </p>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">
                    <a asp-controller="ExamSession"
                       asp-action="AddExamSession" class="btn2 btn btn-primary">Ajouter une session d'Examen</a>

                    <a asp-controller="ExamSession"
                       asp-action="Index" class="btn2 btn btn-primary" style="">Supprimer une session d'Examen</a>
                </th>
            </tr>
        </thead>
    </table>
}
