
@{
	ViewData["Title"] = "RemoveExamSession";
	Layout = "~/Views/Shared/_Secretary.cshtml";
}

@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
}

@section middlePanelBody
{
	<span style="font-size: 15pt;color: #054e77">GESTION DES SESSIONS D'EXAMENS</span>
	<br />
	<h1>Page en construction</h1>
	<br />
	@*<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">
					<a asp-controller="ExamSession"
						asp-action="AddExamSession" class="btn2 btn btn-primary">Ajouter une session d'Examen</a>
					<a asp-controller="ExamSession"
						asp-action="RemoveExamSession" class="btn2 btn btn-primary" style="">Supprimer une session d'Examen</a>
				</th>
			</tr>
		</thead>
	</table>*@
}


