

@model Gamal.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_EmptyView.cshtml";
}

<div style="width:100%; margin-top:150px">
    <div class="card w-50" style="margin-left:25%">
        <div class="card-header" style="text-align:center; background-color:#25587E">
            <span style="color: white; font-size: 18pt">Connexion au système</span>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <input asp-for="Email" placeholder="Inserer le mot de passe" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" placeholder="Inserer le mot de passe" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" name="button" value="second" class="btn btn-primary" style="float:right; background-color:#25587E">Se connecter</button>
            </form>
        </div>
    </div>
</div>
