
@{
    ViewData["Title"] = "ResetPassworConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <nav style="height:80px; border-bottom:8px solid #BEBEBE; background-color:#F8F8F8" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
        <div class="container" align="left">
            <p><span style="font-size: 25pt; color: red; font-weight: bold">UGANC</span> <span style="margin-left:12px; font-size:25pt;">Université Gamal Abdel Nasser de Conakry</span></p>
        </div>
    </nav>
</header>
<h4>
    Votre mot de passe a été initialiser avec succès. Cliquez sur ce lien <a asp-action="Login"> pour vous connectez au systeme</a>
</h4>

