<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gamal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .a-secretary {
            text-decoration: none;
            color: red;
        }

            .a-secretary:hover {
                text-decoration-color: red;
                color: red;
            }
    </style>

</head>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container-fluid">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
