@model Gamal.ViewModel.SearchStudentViewModel
@{
    ViewData["Title"] = "AddFee";
    Layout = "~/Views/Shared/_Secretary.cshtml";
}

@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
}

@section middlePanelBody
{
    <span style="font-size:15pt; color:red">Direction du service pour les étudiants - Services Didactiques</span>
    <br />
    <span style="color:black; font-size:15pt; border-bottom:5px solid red">ESSE4</span>
    <br />
    <br />
    <span style="font-size:15pt; font-family:'Times New Roman'">GESTION DES TAXES UNIVERSITAIRES</span>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <form method="get" asp-controller="Administration" asp-action="AddFee">
                <div class="input-group">
                    <input id="search" class="form-control" placeholder="Chercher un étudiant" asp-for="SearchTerm" />
                    <div class="input-group-append">
                        <button type="submit" class="btn1 btn-primary">Chercher</button>
                    </div>
                </div>
            </form>
            <br />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <span style="color:red; font-weight:bold">@ViewBag.Error</span>
            <span style="color:green; font-weight:bold">@ViewBag.Message</span>
            <br />
            @if (Model.Model != null)
            {
                <form method="post" asp-controller="Administration" asp-action="AddFee">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Prénom et Nom de l'étudiant</th>
                                <th scope="col">Matricule</th>
                                <th scope="col">Montant de la taxe</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th scope="row">@Model.Model.Name</th>
                                <th scope="row">@Model.Model.SerialNumber</th>
                                <th>
                                    <div class="form-inline">
                                        <input disabled type="text" asp-for="Ammount" placeholder="Inserer le montant" class="form-control" />
                                        <input type="hidden" name="serialNumber" value=@Model.Model.SerialNumber />
                                        <input type="hidden" name="email" value=@Model.Model.Email />
                                        <input type="hidden" name="ammount" value=@Model.Ammount />
                                        <div class="input-group-append">
                                            <span>FG</span>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </tbody>

                    </table>
                    <div class="input-group">
                        <button style="float:right" type="submit" class="btn1 btn-primary">Enregistrer</button>
                    </div>
                </form>
            }
            else
            {
                if (String.IsNullOrEmpty(ViewBag.Error))
                {
                    <span> Inserez le nom d'un étudiant et cliquez sur chercher</span>
                }
            }
            <br />
        </div>
    </div>
}

@section Scripts{
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery/jquery-ui.js"></script>
    <link href="~/lib/jquery/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#search').autocomplete({
                source: '/Administration/AutocompleteStudent'
            });
        });
    </script>
}
