
@{
    ViewData["Title"] = "Graduation";
    Layout = "~/Views/Shared/_Student.cshtml";
}

@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
}

@section middlePanelBody
{
    @if (!String.IsNullOrEmpty(@ViewBag.Message))
    {
        <h6 style="text-align:center; color:green">
            @ViewBag.Message
        </h6>
    }

    <span style="font-size:18pt; text-align:center"> Optention du titre</span>
    <br />
    <span style="font-size:25pt; text-align:center; font-weight:bold"> Page en construction</span>
}


