
@{
    ViewData["Title"] = "SecretaryFees";
    Layout = "~/Views/Shared/_Secretary.cshtml";
}

@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
}

@section middlePanelBody
{
    @if (!String.IsNullOrEmpty(@ViewBag.Error))
    {
        <span style="color:red; font-weight:bold">@ViewBag.Error</span>
    }
    @if (!String.IsNullOrEmpty(@ViewBag.Message))
    {
        <span style="color:green; font-weight:bold">@ViewBag.Message</span>
    }

    <span style="font-size:15pt; font-family:'Times New Roman'">GESTION DES TAXES UNIVERSITAIRES</span>
    <br />
    <br />
    <p>
        <span style="font-size:15pt">Ci-dessous vous pouvez ajouter ou supprimer les dates limites de payement des taxes. Vous pouvez également voir et filtrer les étudiants </span>
    </p>
    <br />
    <fieldset class="border p-3" style="border:3px solid red">
        <legend class="w-auto" style="font-size:14pt; font-family:'Times New Roman'; border-bottom: 5px solid red">Gestion des taxes universitaires</legend>
        <table class="table table-bordered">
            <tbody>
                <tr class="">
                    <th scope="col">
                        <span style="color:#150517">
                            <a asp-controller="Administration"
                               asp-action="AddFeePaymentExpiration" class="btn2 btn btn-primary">
                                Ajouter dates limites de payement des taxes
                            </a>
                        </span>
                    </th>
                </tr>
                <tr class="">
                    <th scope="col">
                        <span style="color:#150517">
                            <a asp-controller="Administration"
                               asp-action="AddFee" class="btn2 btn btn-primary" style="">
                                Enregistrer une taxe universitaire
                            </a>
                        </span>
                    </th>
                </tr>
                <tr class="">
                    <th scope="col">
                        <span style="color:#150517">
                            <a asp-controller="Administration"
                               asp-action="StudentFeesList" class="btn2 btn btn-primary" style="">
                                Visualiser la liste des étudiants
                            </a>
                        </span>
                    </th>
                </tr>
                <tr class="">
                    <th scope="col">
                        <span style="color:#150517">
                            <a asp-controller="ExamSession"
                               asp-action="Index" class="btn2 btn btn-primary" style="">
                                Visualiser les sessions
                            </a>
                        </span>
                    </th>
                </tr>
            </tbody>
        </table>
    </fieldset>
}


