@model List<Gamal.Models.Domain.Course>
@{
    ViewData["Title"] = "TeacherDolly";
    Layout = "~/Views/Shared/_Teacher.cshtml";
}

@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
}

@section middlePanelBody
{
    @if (!String.IsNullOrEmpty(@ViewBag.Error))
    {
        <span style="color:red; font-weight:bold">@ViewBag.Error</span>
    }
    @if (!String.IsNullOrEmpty(@ViewBag.Message))
    {
        <span style="color:green; font-weight:bold">@ViewBag.Message</span>
    }
    <span style="font-size: 14pt;color: #054e77">Didactique en ligne année académique 2019/2020</span>
    <br />
    <p>
        <span style="font-size:12pt; color:#054e77">
            Vous trouverez ci-dessous la liste des matières que vous dispensez. Choisissez une matière et chargez du matériel didactique sur les servers
        </span>
    </p>
    <br />
	 <div style="border-left: 5px solid #054e77; border-right:1px solid #e9ecef; border-bottom:1px solid #e9ecef; border-top:1px solid #e9ecef; ">
	 	@foreach (var course in @Model)
		{
	 	<a class="aa" asp-route-courseCode=@course.CourseCode asp-route-departmentCode=@course.DepartmentCode asp-controller="Administration"
			asp-action="AddToDolly">
	 		@{ var courseName = char.ToUpper(course.CourseName[0]) + course.CourseName.Substring(1).ToLower();}
	 	@courseName
	 </a>
 }
	 </div>
    
}


