@model List<Gamal.Models.Domain.Course>
@{
    ViewData["Title"] = "TeacherDolly";
    Layout = "~/Views/Shared/_Teacher.cshtml";
}

@section container{

}

@section leftPanelHeader{

}

@section leftPanelBody
{

}

@section middlePanelHeader{
}

@section middlePanelBody
{
    @if (!String.IsNullOrEmpty(@ViewBag.Error))
    {
        <span style="color:red; font-weight:bold">@ViewBag.Error</span>
    }
    @if (!String.IsNullOrEmpty(@ViewBag.Message))
    {
        <span style="color:green; font-weight:bold">@ViewBag.Message</span>
    }
    <span style="font-size:15pt">DIDACTIQUE EN LIGNE ANNÉE ACADÉMIQUE 2019/2020</span>
    <br />
    <br />
    <p>
        <span style="font-size:15pt">
            Vous trouverez ci-dessous la liste des matières que vous dispensez. Choisissez une matière et chargez du matériel didactique sur les servers
        </span>
    </p>
    <br />
    <br />
     @foreach (var course in @Model)
     {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">
                        <a class="aa" asp-route-courseCode=@course.CourseCode asp-route-departmentCode=@course.DepartmentCode asp-controller="Administration"
                           asp-action="AddToDolly">
                            @{ var courseName =  char.ToUpper(course.CourseName[0]) + course.CourseName.Substring(1).ToLower();}
                            @courseName
                        </a>
                    </th>
                </tr>
            </thead>
        </table>
    }
}


