@model Gamal.ViewModel.HighSchoolInfoViewModel
@{
    ViewData["Title"] = "HighSchoolInfos";
    Layout = "~/Views/Shared/_Secretary.cshtml";
}

@section container{

}

@section leftPanelHeader{
}

@section leftPanelBody
{
}

@section middlePanelHeader{
}

@section middlePanelBody
{
    <div style="">
        <div class="card">
            <div align="center">
                <br />
                <span style="font-size:18pt; color:#25587E; font-weight:100; font-family:'Times New Roman'">Processus d'Inscription des Etudiants</span>
                <div class="row align-items-center align-self-center justify-content-center" style="padding:0px">
                    <div class=" col-sm-4 col-lg-4" style="padding:0px">
                        <div class="card h-25 w-25" style="background-color:#25587E; padding:0px">
                            <div class="card-body" style="padding:0px">
                                <span style="font-size:15pt; color:white; font-weight:bold; font-family:'Times New Roman'">Phase 3/4</span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <br />
                <div class="row" style="padding-left:7%">
                    <div class="col-md-11">
                        <form method="post">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.HighSchool, Model.AllHighSchools as SelectList, "Selectioner le Lycée", new { @class = "form-control" })
                                <span asp-validation-for="HighSchool" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.HighSchoolOption, Model.AllHighSchoolOptions as SelectList, "Selectioner l'Option", new { @class = "form-control" })
                                <span asp-validation-for="HighSchoolOption" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.HighSchoolMark, Model.AllHighSchoolMarks as SelectList, "Selectioner la moyenne du lycée", new { @class = "form-control" })
                                <span asp-validation-for="HighSchoolMark" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="HighSchoolGraduateYear"></label>
                                <input asp-for="HighSchoolGraduateYear" class="form-control fr-date-datepicker" placeholder="Inserer la data de l'optention du bac">
                                <span asp-validation-for="HighSchoolGraduateYear" class="text-danger"></span>
                            </div>
                            <button type="submit" name="button" value="first" class="btn1 btn btn-primary">Precedent</button>
                            <button type="submit" name="button" value="second" class="btn1 btn btn-primary" style="float:right">Suivant</button>
                        </form>
                        <br />
                    </div>
                </div>
            </div>
        </div>
}



