@model Gamal.ViewModel.StudentPersonalInfoViewModel

@{
    ViewData["Title"] = "StudentPersonalInfor";
    Layout = "~/Views/Shared/_Secretary.cshtml";
}

@section container{

}

@section leftPanelHeader{

}
@section leftPanelBody
{
}

@section middlePanelHeader{
}

@section middlePanelBody
{
        @*<div class="card" data-ajax="true" data-ajax-complete="begin" data-ajax-begin="begin" data-ajax-loading="#spinner" data-ajax-method="post">*@
   <span style="font-size: 15pt;color: #054e77">INSCRIPTIONS ET REINSCRIPTIONS ANNÉE ACADÉMIQUE 2019/2020</span>
   <br />
   <br />
	<div style="text-align:justify;">
		<span style="color: #054e77">
			Pour y accéder, sélectionnez le menu (ouverture-fermeture) en haut à droite. Il s'agit de mettre à jour le navigateur.
			INSCRIPTIONS ET INSCRIPTIONS ANNÉE ACADÉMIQUE 2019/2020 La procédure en ligne est ouverte pour les frais d'évaluation pour
			les masters de deuxième niveau. Pour connaître les procédures et les délais, consultez les appels
			Cliquez sur le button ci-dessous pour proceder à l'inscription. Toutes les informations
			sont obligatoires
		</span>
	</div>
           
   <span style="color:green">@ViewBag.Message</span>
   <br />
	<div class="card" style="width:100%; border-left: 5px solid #054e77; border-radius: 0px;">
		<div class="card-body">
			<a class="btn2 btn btn-primary" asp-action="StudentPersonalInfos" asp-controller="StudentRegistration">
				Aller à la page de l'inscriptions des étudiants
			</a>
		</div>
	</div>
}

@section scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script>
        loading = function () {
            document.getElementById("content").style.display = "none";
            window.location.href = '@Url.Content("~/StudentRegistration/StudentPersonalInfos")';
        };

        complete = function () {

        };
    </script>
}     