@model Gamal.ViewModel.StudentPersonalInfoViewModel

@{
    ViewData["Title"] = "StudentPersonalInfor";
    Layout = "~/Views/Shared/_Secretary.cshtml";
}

@section container{

}

@section leftPanelHeader{

}
@section leftPanelBody
{
}

@section middlePanelHeader{
}

@section middlePanelBody
{
    <div id="content">
        <div class="card" data-ajax="true" data-ajax-complete="begin" data-ajax-begin="begin" data-ajax-loading="#spinner" data-ajax-method="post">
            <div class="card-body">
                <span style="font-size:15pt; font-family:'Times New Roman'">INSCRIPTIONS ET REINSCRIPTIONS ANNÉE ACADÉMIQUE 2019/2020</span>
                <br />
                <span style="font-family:'Times New Roman'">
                    Pour y accéder, sélectionnez le menu (ouverture-fermeture) en haut à droite. Il s'agit de mettre à jour le navigateur.
                    INSCRIPTIONS ET INSCRIPTIONS ANNÉE ACADÉMIQUE 2019/2020 La procédure en ligne est ouverte pour les frais d'évaluation pour
                    les masters de deuxième niveau. Pour connaître les procédures et les délais, consultez les appels
                </span>
                <br />
                <br />
                Cliquez sur le button ci-dessous pour proceder à l'inscription. Toutes les informations
                sont obligatoires
                <br />
                <br />
                <span style="color:green">@ViewBag.Message</span>
                <br />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">
                                @*
                                data-ajax="true" data-ajax-begin="loading" data-ajax-complete="loading"
                                data-ajax-loading="#spinner" data-ajax-method="GET"*@
                                <a class="btn2 btn btn-primary" asp-action="StudentPersonalInfos" asp-controller="StudentRegistration">
                                    Aller à la page de l'inscriptions des étudiants
                                </a>
                            </th>
                        </tr>
                    </thead>
                </table>
                <br />
                L'eCampus University est l'une des principales universités en ligne en Italie avec plus de
                100 000 étudiants inscrits. Vous pouvez choisir entre 49 cursus traditionnels et innovants,
                tous facilement accessibles en toute sécurité et directement depuis chez vous, répartis en 5
                facultés: économie, droit, ingénierie, lettres et psychologie.
            </div>
        </div>
    </div>

    @*<a class="btn btn-success" data-ajax="true" data-ajax-begin="loading" data-ajax-complete="onAjaxComplete" data-ajax-loading="#spinner" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#UpdateContentDiv" href="">List Data</a>*@
}

@section scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script>
        loading = function () {
            document.getElementById("content").style.display = "none";
            window.location.href = '@Url.Content("~/StudentRegistration/StudentPersonalInfos")';
        };

        complete = function () {

        };
    </script>
}     